body
{
	font-family: Trebuchet, Arial, sans-serif;
}

/* Media query per dispositivi con larghezza minore di 768px (mobile) */
@media screen and (max-width: 768px) {
  body {
    font-size: 4vw;
  }

  h1 {
    font-size: 2em;
  }  
}

#body
{
	background-color: #fcfcfc;
	padding-top: max(20px, 5vh);
	padding-left: max(50px, 10vw);
	padding-right: max(50px, 10vw);
	text-align: justify;
}

div.form-block
{
	padding-top:1em;
}

.btn {
  position: relative;

  // display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #fcab40;
  color: #fcfcfc;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #da2f47;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

.txtbox
{
	height: 41px;
	border-radius: 2px;
	border: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	padding-left: 32px;
	margin-right: 1em;
	font-size: 1em;
}
